body {
  font-family: "Montserrat";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 3% 15% 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.phone-img {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;
}

/* features */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

p {
  color: #afafaf;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15px;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* media query breakpoints */
@media (max-width:1100px) {
  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* call to action section */
#cta {
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}
